* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.center {
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 10%;
    padding: 0 2%;
}

html, body {
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

header {
    padding:  20px 0;
    height: 200px;
}

.logo {
    width: 40%;
}

.menu {
    width: 60%;
    text-align: end;
    padding-top: 30px;
       
}

.menu a {
    color: black;
    text-decoration: none;
    padding: 0.8em;
    font-weight: bold;
}

section.sobre {
    position: relative;
    height: calc(100% - 200px);
}

.extras {
    position: absolute;
    bottom: -450px;
    right: -500px;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background-color: #017143;
}

.extras img {
    width: 35%;
}

.social-media {
    position: absolute;
    right: 520px;
    top: 150px
}

.social-media img {
    display: block;
    width: 20px;
    margin: 25px 0;
}

.social-media img.face {
    width: 60%;
}

.texto-sobre {
    margin-top: 50PX;
}

.texto-sobre h1 {
    font-size: 50px;
}

.texto-sobre p {
    margin: 20px 0;
    color: black;
    font-size: 14px;
    font-weight: normal;
    max-width: 550px;
    text-justify: auto;
    
}

.texto-sobre button {
    border: 0;
    background-color: #017143;
    color: white;
    border-radius: 15px;
    width: 120px;
    height: 35px;
    cursor: pointer;
}

 .rodape {
    position: absolute;
    display: flex;
    right: 540px;
    top: 410px;
    width: 15%;
    height: 15%;
    justify-content: space-between;
 }

 .eric {    
    color: rgba(0, 0, 0, 0.384);
    font-size: 10px;
    max-width: 550px;
    margin-top: 150px;
    margin-left: 180px; 
 }